version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: health_monitor_backend_app
    restart: always
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - PYTHONPATH=/app

  db:
    image: postgres:16
    restart: always
    container_name: health_monitor_db
    environment:
      DB_HOST: db
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    container_name: health_monitor_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: health_monitor_celery_beat
    command: celery -A backend.app.core.celery_app worker --loglevel=INFO
    env_file:
      - ./.env
    depends_on:
      - backend
      - redis
    environment:
      - PYTHONPATH=/app
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: health_monitor_celery
    command: celery -A backend.app.core.celery_app beat --loglevel=INFO
    env_file:
      - ./.env
    depends_on:
      - celery
    environment:
      - PYTHONPATH=/app
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

volumes:
  postgres_data:

